<br />
<tr class="text-left border-b-2 border-gray-300">
  <th class="px-4 py-3">t</td>
  <th class="px-4 py-3">date</td>
  <th class="px-4 py-3">period total</td>
  <th class="px-4 py-3">period capital</td>
  <th class="px-4 py-3">period interests</td>
  <th class="px-4 py-3">remaining capital</td>
  <th class="px-4 py-3">due interests</td>
  <th class="px-4 py-3">total capital</td>
  <th class="px-4 py-3">total interests</td>
</tr>
