<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
  <%= render 'loans/partials/head' %>
  <% terms.each do |term| %>
    <%= render 'loans/partials/term', term: term %>
  <% end %>
</table>
